.lang-wrapper-div {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 1ch;
  z-index: 9998;
  box-shadow: 0 0px 5px 0px #686767c9;
  border-radius: 18% !important;
}

.lang-menu-item-visibility {
  z-index: 9999 !important;
}
